* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
  text-decoration: none;
}

body,
textarea,
::placeholder {
  font-family: 'AvenirNextLTPro-Demi';
  line-height: 1.5;
}

li {
  text-decoration: none;
}