// Breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Primary Colors
$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$secondary-black: #000000;
$secondary-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Font Weight
$regular: 400;
$demi: 600;
$bold: 700;
