@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.upload {
  max-width: 100%;
  border-top: 0.05rem solid $silver;
  text-align: left;
  @include tablet {
    margin: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0;
  }

  &__title {
    padding-top: 1rem;
    @include tablet {
      padding-bottom: 3%;
      border-bottom: 0.05rem solid $silver;
    }
  }

  &__form-group {
    margin: 0;
    padding-top: 1rem;

    @include desktop {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.05rem solid $silver;
    }
  }

  &__form-body {
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    @include desktop {
      padding: 0;
    }
  }

  &__label {
    @include desktop {
      width: 40%;
    }
  }

  &__label-image {
    width: 100%;
    @include tablet {
      width: 45%;
    }
    @include desktop {
      width: 85%;
    }
  }

  &__title-text {
    height: 1rem;
    max-width: 100% !important;
    @include desktop {
      margin-right: 1rem;
    }

  }

  &__description-text {
    max-width: 100% !important;
    height: 8rem;
    @include desktop {
      height: 5rem;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin: 0;
    @include tablet {
      padding-bottom: 3%;
      border-bottom: 0.05rem solid $silver;
    }
    @include desktop {
      padding: 0;
      width: 60%;
      border-bottom: none;
    }
  }

  &__button {
    margin: 0;
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
    @include desktop {
      padding: 0;
    }
  }

  &__publish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__publish-icon {
    position: relative;
    right: 30%;
    top: 5%;
    @include tablet {
      top: 5%;
      right: 20%;
    }
  }

  &__cancel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $white;
    color: $blue;
  }
}

label {
  color: $silver;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.2rem;
}
