@use '../../styles/partials/global.scss';

.comments {
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 0.8125rem;
    border-bottom: solid 0.0625rem #e1e1e1;
    padding: 1rem 0 0.5rem;
    gap: 1rem;
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 1rem;
    object-fit: cover;
    object-position: 10%;
    background-color: #e1e1e1;
  }
  &__details {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  &__author {
    font-weight: 600;
  }

  &__date{
    color: #AFAFAF;
  }

  &__response{
    padding: 0.5rem 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
